# .NET build artifacts
obj/
bin/

# Visual Studio files and folders
.vs/
*.suo
*.user
*.userprefs
*.bak
*.cache
*.sln.docstates
*.nuget/
*.dotsettings

# IDE-specific files
.idea/
*.vscode/
*.vssettings
*.vssscc

# Test results
TestResults/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
nuget/
*.snupkg
dotnet-tools.json
/.paket/
#!**/paket.deps.json
#paket-files/
*.rptproj
